body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #c0c0c0, #373737, #fa7551);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 90%;
    max-width: 400px;
    margin-bottom: 40px; /* Adiciona mais espaço abaixo do contêiner */
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.username {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 15px;
    color: #000; /* Deixa o texto mais preto */
}

.bio {
    color: #666;
    margin-bottom: 20px;
}

.link {
    display: flex;
    align-items: center;
    background-color: #f8f8f8;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s, transform 0.3s;
}

.link:hover, .link.clicked {
    background-color: #e0e0e0;
    transform: scale(1.05);
}

.link i {
    font-size: 1.5em;
    margin-right: 10px;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-icons a {
    margin: 0 10px;
    color: #000;
    font-size: 2em;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #a80f06; /* Muda a cor ao passar o mouse */
}

.footer {
    margin-top: 20px;
    font-size: 0.9em;
    color: #646464;
}

.footer .highlight {
    color: #770501; /* Azul na cor original */
}

@keyframes click-zoom {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1.05);
    }
}

.link.clicked {
    animation: click-zoom 0.3s ease;
}